@import-normalize;

* {
    box-sizing: inherit;
    font-size: 1em;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    font: inherit;
}

/* -------------------------------------------------------------------------- */

.d-f {
    display: flex;
}

.fw-b {
    font-weight: bold;
}

.jc-c {
    justify-content: center;
}

.ta-c {
    text-align: center;
}
.ta-e {
    text-align: end;
}
.ta-s {
    text-align: start;
}

.w-6em {
    width: 6em;
}

.whs-nw {
    white-space: nowrap;
}
