*,
h1 {
    box-sizing: inherit;
    font-size: 1em;
    margin: 0;
}

@import-normalize;

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.w-6em {
    width: 6em;
}
